/* Base styles */
/* * {
  border-style: solid;
  border-color: red;
} */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'NorseBold';
  src: url('fonts/Norse-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Now you can use it in your CSS */
.hero-heading {
  font-family: 'NorseBold', sans-serif; /* Fallback to sans-serif in case NorseBold doesn't load */
  color: white;
  font-size: 45px;
  line-height: 16px;
}

/* Container styles */
.container {
  display: flex;
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
}

/* Hero section styles */
.hero {
  background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  background-position: center;
  flex: 1; /* Adjust the flex value as necessary */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  text-align: center;
  width: 100%;

  margin-top: 200px;
}

.logo-container img {
  max-height: 125px;
}

/* Sign Up Form container styles */
.signup-form-container {
  display: flex;
  flex-direction: column;
  flex: 2; /* Adjust the flex value as necessary */
  justify-content: space-evenly;
  padding: 1px;
  background-color: whitesmoke;
}
/*Form Side styles*/
.signup-intro {
  justify-content: center;
  align-items: center;
}

.signup-intro h2 {
  padding: 0 50px 0 20px;
}
/* Sign Up Form styles */

.form-group-container {
  display: flex;
  background-color: white;
}
/* .signup-form {
  
} */
/* Add form styles here */

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  margin-left: 40px;
}
.form-group:last-child {
  margin-right: 0;
}

.form-content-container {
  background: white;
  margin: 40px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.form-content-container h2 {
  margin: 20px 40px;
}

.form-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  position: relative;
  background-color: green;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  width: 150px;
  padding: 15px;
  border-radius: 4px;
  margin: 0 40px;
  font-size: 16px;
}

.login-link {
  margin: 0 40px;
}
/* Optional Footer styles */
